    table {
        border-radius: 3px;
    }
    
    thead {
        background: #e27b7b;
        text-align: center;
        color: white;
    }
    /* a {
        color: #e27b7b;
    }

    button {
        background-color: #e27b7b;
    } */